//- layout.jade
doctype html
html(lang="en")
  head
    block title
      title pcolazurdo - Needing some cognitive helper - Trying Watson!
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
    link(rel="icon", href="/images/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="/css/watson-bootstrap-dark.css")
    link(rel="stylesheet", href="/css/browser-compatibility.css")
    link(rel="stylesheet", href="/css/watson-code.css")
    link(rel="stylesheet", href="/css/style.css")

  body
    div.container
      div.header.row
        div.col-lg-3
          img(src="/images/app.png")
        div.col-lg-8
          h2 Not sure what you're friends are talking about?
          p Try at least to identify what language are they using.
            | Based on this <a href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/lidapi/'> sample concept </a>
      block row-content
      div.footer.row
        div.col-lg-8
          p Follow me
    script(type='text/javascript', src="/js/css_browser_selector.js")
